<div class="tiles_container">
    <div class="contaner-fluid">
        <div class="row">
            <div class="col-md-6">
                <a class="tile main_tile">
                    <div class="tile_title">
                        <!--<h3>НОВОСТИ</h3>-->
                    </div>
                    <div class="tile_description">
                                <!--<span>-->
                                    <!--ДОБАВЛЕНЫ-->
<!--НОВЫЕ-->
<!--НОМИНАЦИИ-->
<!--ДЛЯ-->
<!--школьников-->
                                <!--</span>-->
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/students/about" class="tile small_tile students_about_tile">
                                    <div class="tile_title">
                                        <h4>О ПРОЕКТЕ</h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>конкурс
звезда удачи
это шанс
ощутить
себя ...</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="tile small_tile students_timeline_tile">
                                    <div class="tile_title">
                                        <h4>СРОКИ</h4>
                                    </div>
                                    <div class="tile_description">

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="tile small_tile students_gallery_tile" href="/students/gallery">
                                    <div class="tile_title">
                                        <h4>ГАЛЕРЕЯ</h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>количество
загруженных
работ
на этой
неделе ...</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/students/partners" class="tile small_tile students_partners_tile" href="/students/partners">
                                    <div class="tile_title">
                                        <h4>ПАРТНЁРЫ</h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>учредитель
и организатор
конкурса
ГК «ЦДС»
сообщает ...</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>