[viewBag]
==
<div class="tiles_container">
    <div class="contaner-fluid">
        <div class="row">
            <div class="col-md-6 news_con  studentsNewsCon">
                {% set posts = blogPosts.posts %}
                {% if posts|length > 0 %}
                <a href="/students/news" class="tile main_tile">
                    <div class="tile_title">
                        <h3>НОВОСТИ</h3>
                    </div>
                    <div class="tile_description">
                        <div class="carousel slide" id="newsCarousel" data-interval="7000" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for post in posts %}
                                {% set i = loop.index0 %}
                                {% if i < 3 %}
                                <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
                                    <span>{{ post.title }}</span>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% if post|length > 0 %}
                            <ol class="carousel-indicators steps_toggle">
                                {% for post in posts %}
                                {% set j = loop.index0 %}
                                {% if j < 3 %}
                                <li class="{{ j == 0 ? 'active' : '' }}" data-target="#newsCarousel"
                                    data-slide-to="{{j}}">
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% else %}
                <a class="tile main_tile"></a>
                {% endif %}
            </div>
            <div class="col-md-6 block_con studentsBlockCon">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/students/winners" class="tile small_tile students_about_tile">
                                    <div class="tile_title">
                                        <h4></h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>Победители 13 сезона</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="tile small_tile students_timeline_tile">
                                    <div class="tile_title">
                                        <h4></h4>
                                    </div>
                                    <div class="tile_description">

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="tile small_tile students_gallery_tile" href="/students/gallery">
                                    <div class="tile_title">
                                        <h4>ГАЛЕРЕЯ</h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>Посмотреть работы</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/students/partners" class="tile small_tile students_partners_tile" href="/students/partners">
                                    <div class="tile_title">
                                        <h4>ПАРТНЁРЫ</h4>
                                    </div>
                                    <div class="tile_description">
                                                <span>Благодаря которым конкурс ежегодно растёт</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>