{##}
{% set file = project.project_file %}
{% if file.content_type == 'image/jpeg' %}
<img src="{{ file.getThumb(250, 250) }}" class="img-responsive" style="margin: 0 auto; display: block; object-fit: cover; height: 100%; width: 100%;">

{% elseif file.content_type == 'image/png' %}
<img src="{{ file.getThumb(250, 250) }}" class="img-responsive" style="margin: 0 auto; display: block; object-fit: cover; height: 100%; width: 100%;">
{% elseif file.content_type == 'audio/mp4' %}
<audio src="{{ file.path }}"></audio>
{% elseif file.content_type == 'video/mpeg' %}
<video controls=""  name="media" preload="metadata">
    <source src="{{ file.path }}" type="video/mp4">
</video>
{% elseif file.content_type == 'video/mp4' %}
<video controls=""  name="media" preload="metadata">
    <source src="{{ file.path }}" type="video/mp4">
</video>
{% elseif file.content_type == 'video/3gpp' %}
<video controls=""  name="media" preload="metadata">
    <source src="{{ file.path }}" type="video/mp4">
</video>
{% elseif file.content_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
<div class="doc_prev" data-src="{{file.path}}"></div>
{% elseif file.content_type == 'audio/mpeg3' %}
<audio src="{{ file.path }}" controls></audio>
{% elseif file.content_type == 'audio/x-mpeg-3' %}
<audio src="{{ file.path }}" controls></audio>
{% elseif file.content_type == 'audio/mpeg' %}
<audio src="{{ file.path }}" controls></audio>
{% endif  %}