{##}
<ul class="project_filter noDisplay">
<li>
<a href="{{ group == school ? '/school/gallery' : '/students/gallery' }}" class="default_filter">
ВСЕ РАБОТЫ
</a>
</li>
{% for nomination in Project.getNomination(group) %}
<li>
<a href="{{ group == school ? '/school/gallery/' : '/students/gallery/' }}?nomination={{ nomination.value }}
&group={{ group }}&filter=true&{{ age_filter ? 'age=' ~ age_filter : '' }}&order_method={{ order_method ? order_method : 'created_at' }}" data-filter="{{ nomination.value }}">
{{ nomination.label|upper }}
</a>
</li>
{% endfor %}
</ul>

<select class="displayMobile galleryFilter" onchange="window.location.href=this.options[this.selectedIndex].value">
    <option value="{{ group == school ? '/school/gallery' : '/students/gallery' }}">Все работы</option>
    {% for nomination in Project.getNomination(group) %}
    <option value="{{ group == school ? '/school/gallery/' : '/students/gallery/' }}?nomination={{ nomination.value }}
&group={{ group }}&filter=true">{{ nomination.label|upper }}</option>

    {% endfor %}
</select>
