[viewBag]
==
{##}
<div class="project_item">
<div class="project_header">
<div class="project_name">
<a href="{{ current_group == school ? '/school/gallery/' ~ project.id : 
        '/students/gallery/' ~ project.id 
        }}">
    <span>{{ project.name|capitalize }}</span>
    </a>
</div>
    <div class="project_likes_count">
        {{ project.like_count }}
    </div>
</div>
<div class="project_file_preview">
        <div class="project_file_preview">
        <a href="{{ current_group == school ? '/school/gallery/' ~ project.id : 
        '/students/gallery/' ~ project.id 
        }}">
        {% if project.project_uri %}
        {% partial 'project/iframe-file' height="250" width="250" %}
        {% else %}
        {% partial 'project/file-preview' %}
        {% endif %}
           </a>
        </div>

</div>
<div class="moderation_status">
    <span>{{ Project.getModerationLabel(project.moderation) }}</span>
</div>
<div class="nomination">
    <span>{{ Project.getNominationLabel(project.nomination)|upper }}</span>
</div>
</div>