{##}
<div class="col-md-6">
    <div class="project_item single">
        <div class="project_name">
            <span>{{ Project.getNominationLabel(project.nomination) }}</span>
        </div>
        <div class="project_file_preview">
             {% if project.project_uri %}
        {% partial 'project/iframe-file' height="315" width="560" %}
        {% else %}
            {% partial 'project/f-prev-fan' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="project_about">
        <div><span class="label">Название:</span><strong>{{ project.name }}</strong></div>
        <div><span class="label">Автор:</span><strong>
        {{ project.user.name|capitalize }} {{ project.user.surname|capitalize }}
        </strong></div>
        <div><span class="label">Возраст:</span><strong>
        {{ author_age }} лет
        </strong></div>
        <div><span class="label">Город:</span><strong>{{ project.user.city|upper|capitalize }}</strong></div>
        <div><span class="label">Учебное</span></div>
        <div><span class="label">Заведение:</span><strong>{{ project.user.school }}</strong></div>
        <div><span class="label">Педагог:</span><strong>{{ project.user.lead|capitalize }}</strong></div>
    </div>
    <a href="/school/gallery" class="arrow_button back_link medium gray">К другим работам <i class="arrow_right gray"></i></a>
</div>