<div class="project_item">
    <div class="project_header">
        <div class="project_name">
            <span>{{ project.name|capitalize }}</span>
        </div>
        <div class="project_likes_count">
            {{ project.like_count }}
        </div>
    </div>
    <div class="project_file_preview">
        <a href="/students/gallery/{{project.id}}">
            {% partial 'project/file-preview' %}
        </a>

    </div>
    <div class="user_name">
        <span>{{ project.user.name|capitalize }} {{ project.user.surname|capitalize }}</span>
    </div>
    <div class="nomination">
        <span>{{ Project.getNominationLabel(project.nomination)|upper }}</span>
    </div>
</div>