.arrow_button {
    @include formButton();
    font-size: 1.15rem;
    &.small {
        width: 145px;
    }
    &.xl {
        width: 300px;
    }
    &.medium {
        width: 262px;
    }
    &.gray {
        color: $grayForm;
        box-shadow: inset 0 1px 0 0 $grayForm;
        @include buttonArrowHover($grayForm);
    }
}