@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'ubuntu-light-italic';
    src: url('../fonts/Ubuntu/Ubuntu-Lightitalic.ttf');
}

@font-face {
    font-family: 'ubuntu-light';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'pt-bold-italic';
    src: url('../fonts/Ubuntu/pt.ttf');
}