$radioSize: 15px;
$radioMarkerSize: $radioSize * 0.6;




form {
  .radio_group {
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 20px;
    label {
      width: $radioSize;
      height: $radioSize;
      border: 1px solid $white;
      background: $transparent;
      @include flexCenter();
      &::after {
        content: '';
        width: $radioMarkerSize;
        height: $radioMarkerSize;
        @include transition();
      }
    }
    input[type="radio"] {
      display: none;
      &:checked + label {
        &::after {
          background: $white;
        }
      }
    }
    .label {
      font-size: 1rem;
      margin-left: 12px;
    }
  }
  .select_base {
    background: $transparent;
    border: 1px solid $grayForm;
    height: 32px;
    width: 262px;
    color: $gray;
    padding-left: 20px;
    option {
      background: $transparent;
    }
    &.white {
      border: 1px solid $white;
      color: $white;
    }
  }
}


input,
textarea,
button,
select {
  outline: none !important;
}
.form {
  background: $transparent;
  input, textarea {
    @include webkitAppereance(none);
    background: $transparent;
  }
  .form-group {
    margin-bottom: 15px;
  }
  input {
    border: 1px solid $white;
    background: $transparent;
    padding: 0 20px;
    color: $white;
    border-radius: 0;
    @include mozPlaceholder();
    @include webkitPlaceholder();
    &:-webkit-autofill {
      background: $transparent;
    } 
    &.medium {
      width: 262px;
      height: 32px;
    }
  }
  input, textarea {
    font-family: $lightFont;
    &:focus {
      background: $transparent;
      color: $white;
    }
  }
  input[type="submit"],
  button {
    //margin-top: 40px;
    @include formButton();
    width: 195px;
  }
  input[type="checkbox"] {
    width: $radioSize;
    min-width: $radioSize;
    height: $radioSize;
    margin-right: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      width: $radioMarkerSize;
      height: $radioMarkerSize;
      @include transition();
    }
    &:checked {
      &::after {
        background: $white;
      }
    }
  }
  .small_label {
    font-size: 0.9rem;
  }
}

.form_gray {
  input:not([type="file"]),
  textarea {
    border: 1px solid $grayForm;
    box-shadow: none;
    color: $gray;
    width: 262px;
    height: 32px;
    background: $transparent;
    padding-left: 20px;
    font-size: 1.2rem;
    @include webkitAppereance(none);
    @include mozPlaceholder($gray, 1.2rem);
    @include webkitPlaceholder($gray, 1.2rem);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $gray;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
  }
  .upload_file {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background-color: $lightGray;
    text-align: center;
    overflow: hidden;
    @include squareHover($baseOverlayStudents);
    input[type="file"] {
      display: none;
    }
    label {
      cursor: pointer;
      font-size: 1.7rem;
      color: $white;
      letter-spacing: 4px;
      font-weight: 500;
    }
  }
  .form-group {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .radio_group {
    label {
      border-color: $grayForm;
    }
    input[type="radio"] {
      &:checked + label {
        &::after {
          background: $grayForm;
        }
      }
    }
    .label {
      color: $gray;
    }
  }
  .form-group {
    position: relative;
    a {
      color: $gray;
    }
    .hide_field {
      display: none;
    }
  }
  .form_label {
    position: absolute;
    left: 0;
    top: -20px;
    font-size: 0.9rem;
  }
}

.material_form {
  .form_item {
    border: none;
    border-bottom: 1px solid $white;
    background: $transparent !important;
    width: 180px;
    color: $white;
    padding-bottom: 10px;
    font-family: $lightFont;
    @include webkitAppereance(none);
    @include webkitPlaceholder();
    @include mozPlaceholder();
    }
  .icon_button {
    background: $transparent;
    border: none;
  }
  input[type="submit"], button {
    cursor: pointer;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}

.form-control:disabled, .form-control[readonly] {
  background: $transparent;
}

select {
  outline: none !important;
  option {
    outline: none !important;
  }
}


