$radioSize: 15px;
$radioMarkerSize: $radioSize * 0.6;
input,
textarea,
button {
  outline: none !important;
}
.form {
  background: $baseOverlayColor;
  input, textarea {
    @include webkitAppereance(none);
    background: $transparent;
  }
  .form-group {
    margin-bottom: 30px;
  }
  input {
    border: 1px solid $white;
    background: $transparent;
    padding: 0 20px;
    color: $white;
    @include mozPlaceholder();
    @include webkitPlaceholder();
    &:-webkit-autofill {
      background: $transparent;
    } 
    &.medium {
      width: 262px;
      height: 32px;
    }
  }
  input[type="submit"],
  button {
    margin-top: 35px;
    @include formButton();
  }
  .radio_group {
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 35px;
    label {
      width: $radioSize;
      height: $radioSize;
      border: 1px solid $white;
      background: $transparent;
      @include flexCenter();
      &::after {
        content: '';
        width: $radioMarkerSize;
        height: $radioMarkerSize;
        @include transition();
      }
    }
    input[type="radio"] {
      display: none;
      &:checked + label {
        &::after {
          background: $white;
        }
      }
    }
    .label {
      font-size: 1rem;
      margin-left: 12px;
    }
  }
}