$top: 80px;
$xsScreenTop: $top * 0.35;

.main_logo {
  position: fixed;
  top: $top;
  left: $containerPadding;
  z-index: 1000;
  @media screen and (max-width: 1400px) {
    top: $xsScreenTop;
  }
  img {
    max-width: 180px;
  }
}

.cds_logo {
  position: fixed;
  top: $top;
  right: $containerPadding;
  z-index: 1000;
  @media screen and (max-width: 1400px) {
    top: $xsScreenTop;
  }
  img {
    max-width: 155px;
  }
}