.main_page {
    background: url('../images/bg_shared.png') no-repeat;
    background-size: cover;
}

.main {
    .sidebar_container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .tiles_container {
        width: 100%;
    }
    .static_content {
        color: $gray;
    }
}

.project_like_count {
    .count {
        padding-left: 25px;
        background: url('../images/like.png') no-repeat;
        background-size: contain;
    }
}