.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  background: $preloaderOverlay;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}