.sidebar_container {
    width: $sidebarWidth;
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar {
    padding: 70px 0;
    background: $baseOverlayColor;
    height: 100vh;
    min-height: $minColumnHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .widgets {
        width: 40px;
        .swipe_info {
           // background: $baseColor;
        }
    }
    &.students {
        background: $baseOverlayStudents;
        .navigation {
            .menu {
                background: $studentsBaseColor;
            }
        }
    }
}