.sprite_icons {
    background-image: url('../images/sprite_icons.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite_icons-icon-contact {
    width: 35px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite_icons-profile_icon {
    width: 33px;
    height: 33px;
    background-position: -50px -5px;
}
