.sprite_icons {
    background-image: url('../images/sprite_icons.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite_icons-icon-contact {
    width: 35px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite_icons-profile_icon {
    width: 33px;
    height: 33px;
    background-position: -50px -5px;
}

.sprite_social {
    background-image: url('../images/sprite-social.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite_social-fb_hover {
    width: 17px;
    height: 33px;
    background-position: -5px -5px;
}

.sprite_social-icon_fb {
    width: 17px;
    height: 33px;
    background-position: -32px -5px;
}

.sprite_social-icon_insta {
    width: 30px;
    height: 30px;;
    background-position: -57px -5px;
}

.sprite_social-icon_vk {
    width: 36px;
    height: 22px;
    background-position: -57px -43px;
}

.sprite_social-icon_youtude {
    width: 33px;
    height: 25px;
    background-position: -5px -73px;
}

.sprite_social-insta_hover {
    width: 30px;
    height: 30px;
    background-position: -101px -5px;
}

.sprite_social-vk_hover {
    width: 36px;
    height: 22px;
    background-position: -101px -45px;
}

.sprite_social-youtube_hover {
    width: 33px;
    height: 25px;
    background-position: -46px -77px;
}
