

//colors
$black: #000000;
$transparent: transparent;
$white: #ffffff;
$baseOverlayColor: rgba(22, 127, 176, .9);
$hightOverlay: rgba(22, 127, 176, .5);
$ultraOverlay: rgba(22, 127, 176, .2);
$baseColor: #009fda;
$studentsBaseColor: #c22e33;
$baseOverlayStudents: rgba(199, 32, 38, .9);
$hightStudentsOverlay: rgba(199, 32, 38, .5);
$ultraStudentsOverlay: rgba(199, 32, 38, .2);
$alertError: $studentsBaseColor;
$gray: #7d7d7d;
$grayForm: #757575;
$lightBackground: #f7f7f7;
$preloaderOverlay: $lightBackground;
$graySeparate: #747474;
$lightGray: #cccccc;
$lightTextGray: #adadad;
$grayTiles: #eaeaea;



// fonts
$baseFont: 'ubuntu';
$lightFont: 'ubuntu-light';
$italicFont: 'ubuntu-light-italic';
$altBoldItalic: 'pt-bold-italic';

// font-size
$baseFontSize: 14px;

//grid
$containerPadding: 100px;
$minColumnHeight: 650px;

//tooltip
$tooltipBackground: $baseColor;


// nav width
$navWidth: 27vw;


//sidebar
$sidebarWidth: 80px;