

//colors
$transparent: transparent;
$white: #ffffff;
$baseOverlayColor: rgba(22, 127, 176, .9);


// fonts
$baseFont: 'ubuntu';
$lightFont: 'ubuntu-light';
$italicFont: 'ubuntu-light-italic';

// font-sezi
$baseFontSize: 14px;

//grid
$containerPadding: 100px;
$minColumnHeight: 1000px;

//tooltip
$tooltipBackground: #009fda; 