{{ form_open({ files: true, request: 'onUpdate', class: 'form_gray' }) }}
<div class="container">
    <div class="row">
        <div class="col-md-3">
    <input type="file" name="avatar" id="userAvatar">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile_welcome_text gray">
                        <strong>Привет {{ user.name }},</strong>
                        <p>
                            {% content 'profile/welcome' %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                    <input type="text" name="name" placeholder="Имя|" required value="{{ user.name }}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" placeholder="Фамилия|" required value="{{ user.surname }}">
                    </div>
                    <div class="form-group">
                        <input type="date" name="date_of_bithday" placeholder="Дата рождения|"
                               required value="user.date_of_bithday">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" name="city" placeholder="Город|" required value="{{ user.city }}">
                    </div>
                    <div class="form-group">
                        <input type="phone" name="phone" placeholder="Телефон|" required value="{{ user.phone }}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="school" placeholder="Учебное заведение|" required value="{{ user.school }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="button_container">
                <button type="submit" class="arrow_button gray">Сохранить данные</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_close() }}