<div class="container profile_container">
    <div class="row">
        <div class="col-md-3">
            <div class="avatar">
                <img src="{{ user.avatar.path }}" class="img-responsive">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile_welcome_text gray">
                        <strong class="heading">Привет {{ user.name }},</strong>
                        <p class="text">
                            {% content 'profile/welcome' %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                <div class="profile_info">
                    <div>
                        <span class="label">
                            Имя и фамилия:
                        </span>
                        <span class="info">{{ user.name }} {{ user.surname }}</span>
                    </div>
                   <!--  <div>
                        <span class="label">
                            Возраст:
                        </span>
                        <span class="info">десь вычислим</span>
                    </div> -->
                    <div>
                        <span class="label">
                            Город проживания:
                        </span>
                        <span class="info">{{ user.city }}</span>
                    </div>
                    <div>
                        <span class="label">
                            Учебное заведение:
                        </span>
                        <span class="info">{{ user.school }}</span>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="button_container">
                        <button id="changeProfile" class="arrow_button gray medium">Изменить данные <i class="arrow_right gray"></i></button>
                    </div>
                </div>
            </div>
            <div class="separate"></div>
        </div>
    </div>
</div>
<div class="profile_form_hide">
{% partial 'user/profile-form' %}
</div>