{##}
<form class="form"
        data-request="onRegister">
    <div class="form-group radio_group">
        <input name="groups" type="radio" id="registerSchoolsGroup" value="{{ school }}">
        <label for="registerSchoolsGroup"></label>
        <span class="label">Я школьник</span>

    </div>
    <div class="form-group radio_group">
        <input name="groups" type="radio" id="registerStudentsGroup" value="{{ student }}">
        <label for="registerStudentsGroup"></label>
        <span class="label">Я студент</span>

    </div>
    <div class="form-group">

        <input
                name="name"
                type="text"
                class="form-control medium"
                id="registerName"
                placeholder="Введите ваше имя" />
    </div>

    <div class="form-group">
        <input
                name="email"
                type="email"
                class="form-control medium"
                id="registerEmail"
                placeholder="Email" />
    </div>

    <div class="form-group">
        <input
                name="password"
                type="password"
                class="form-control medium"
                id="registerPassword"
                placeholder="Passwword" />
    </div>
    <div class="form-group">
        <input
                name="password_confirmation"
                type="password"
                class="form-control medium"
                id="registerPassword"
                placeholder="Passwword" />
    </div>

    <button type="submit" class="">Отправить <i class="arrow_right"></i></button>
</form>
{% flash %}
{{ message }}
{% endflash %}
