{##}
{% if not user %}
<form class="form"
        data-request="onRegister" data-request-redirect="/profile" data-request-success="window.localStorage.setItem('register', '1')">
    <div class="form-group radio_group">
        <input name="groups" type="radio" id="registerSchoolsGroup" value="{{ school }}" required>
        <label for="registerSchoolsGroup"></label>
        <span class="label">Я школьник</span>

    </div>
    <div class="form-group radio_group">
        <input name="groups" type="radio" id="registerStudentsGroup" value="{{ student }}" required>
        <label for="registerStudentsGroup"></label>
        <span class="label">Я студент</span>

    </div>
    <div class="form-group">

        <input
                name="name"
                type="text"
                class="form-control medium"
                id="registerName"
                placeholder="Введите ваше имя" autocomplete="off" />
    </div>

    <div class="form-group">
        <input
                name="email"
                type="email"
                class="form-control medium"
                id="registerEmail"
                placeholder="E-mail" data-toggle="tooltip" data-placement="right" title="Мы не будем забрасывать тебя письмами
                 и адрес твоей почты никому-никому не скажем" readonly onfocus="this.removeAttribute('readonly')" />
    </div>

    <div class="form-group">
        <input
                name="password"
                type="password"
                class="form-control medium"
                id="registerPassword"
                placeholder="Придумайте пароль" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" />
    </div>
    <!--<div class="form-group">-->
        <!--<input-->
                <!--name="password_confirmation"-->
                <!--type="password"-->
                <!--class="form-control medium"-->
                <!--id="registerPassword"-->
                <!--placeholder="Passwword" />-->
    <!--</div>-->
<div class="form-group radio_group">
        <input name="subs" type="checkbox" id="subs" required>
      
        <span class="small_label">Нажимая на кнопку “зарегистрироваться”, я соглашаюсь на <a href="#subscribeModal" data-toggle="modal">обработку персональных данных</a> и принимаю условия <a href="#policyModal" data-toggle="modal">политики конфиденциальности</a></span>

    </div>
    <button  data-toggle="tooltip"  data-placement="bottom" title="Если что-то пошло не так, сообщи
нам о своей проблеме по этому адресу:
zvezda@zvezdaudachi.com">Зарегистрироваться <i class="arrow_right"></i></button>
</form>
{% endif %}