{##}
<div class="user_widget widget">
    {% if user %}
<a class="action_button" data-toggle="tooltip" data-placement="top"
   title="Войти в личный кабинет">
<i class="sprite_icons sprite_icons-profile_icon"></i>
</a>
    {% else %}
    <a class="action_button" data-toggle="tooltip" data-placement="top"
       title="Войти в личный кабинет">
        <i class="sprite_icons sprite_icons-profile_icon"></i>
    </a>
    {% endif %}
{% if user %}
<div class="swipe_info">
    <div class="user_action">
<a href="/profile">Личный кабинет</a>
<a data-request="onLogout" data-request-redirect="/">Выйти</a>
    </div>
</div>
{% else %}
<div class="swipe_info">
<div class="signin">
{% partial 'user/signin' className="material_form" %}
</div>
</div>
{% endif %}
</div>