;;
description = "base layout"
==
{##}
<!doctype html>
<html lang="en">
<head>
    {% partial 'app/head' %}
</head>
<body class="welcome_page">
{% partial 'app/preloader' %}
<header class="header">
{% partial 'app/header' %}
    <div class="mobileHeader displayMobile">
        {% partial 'user/user-widget' user=user %}
        {% partial 'app/contact-widget' %}
    </div>

</header>
<main>
    {% page %}
</main>
<div class="bottom_widgets_container noDisplay">
    {% partial 'app/contact-widget' %}
    {% partial 'user/user-widget' user=user %}
</div>
<footer>
{% partial 'app/footer' %}
{% partial 'app/flash' %}
</footer>
<script src="{{ 'assets/libs/jquery/dist/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/popper/dist/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/dist/bundle.js'|theme }}"></script>
<script src="{{ 'assets/libs/fancybox-master/dist/jquery.fancybox.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>