;;
description = "base layout"
==
{##}
<!doctype html>
<html lang="en">
<head>
    {% partial 'app/head' %}
</head>
<body>
<header class="header">
{% partial 'app/header' %}
</header>
<main>
    {% page %}
</main>
<div class="bottom_widgets_container">
    {% partial 'app/contact-widget' %}
    {% partial 'user/user-widget' user=user %}
</div>
<footer>
{% partial 'app/footer' %}
{% partial 'app/flash' %}
</footer>
<script src="{{ 'assets/libs/jquery/dist/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/popper/dist/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/dist/bundle.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>