description = "Партнеры школьники"

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"

[staticMenu]
code = "school"

[staticPage]
==

<!doctype html>
<html lang="en">
<head>
    {% partial 'app/head' %}
</head>
<body class="light_background {{ user.group == school ? school : students }}">
{% partial 'app/preloader' %}
{% partial 'user/reg-modal' %}
{% partial 'app/logo-base'  className="small blue" %}
{% partial 'app/cds-logo' %}

<main class="main clearfix black_text school_color_schema">
    <div class="sidebar_container">
        {% partial 'app/sidebar' className="school" %}
    </div>

    <div>
        {% partial 'app/partners' %}
    </div>

</main>

<footer>
    {% partial 'app/flash' %}
</footer>
<script src="{{ 'assets/libs/jquery/dist/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/popper/dist/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/dist/bundle.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>