{##}
<div class="contact_widget widget">
<a class="action_button" data-toggle="tooltip" data-placement="top" title="Наши контакты">
<i class="sprite_icons sprite_icons-icon-contact"></i>
</a>
<div class="swipe_info">
<div class="info_item">
<div>
<span class="phone_number light_font">
    {% if current_group == school %}
{% content 'contact/phone' %}
    {% elseif current_group == student %}
    {% content 'contact/s-phone' %}
    {% else %}
    {% content 'contact/phone' %}
    {% endif %}
</span>
</div>
<div>
<a href="mailto:{% content 'contact/email' %}" target="_blank" class="link">{% content 'contact/email' %}</a>
</div>

</div>

</div>

</div>