<div class="full_tiles">
    <div class="container-fluid">
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_img.png'|theme }}" class="img-responsive">
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_1.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% partial 'app/judge/medvedev' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_2.png'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-2' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_3.png'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-3' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_4.jpg'|theme }}" class="img-responsive">
                    <div class="description left">
                        {% partial 'app/judge/judge-4' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_5.jpg'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-5' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_6.jpg'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-6' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_8.jpg'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-7' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_9.png'|theme }}" class="img-responsive">
                    <div class="description">
                        {% partial 'app/judge/judge-8' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_10.png'|theme }}" class="img-responsive">
                    <div class="description left">
                        {% partial 'app/judge/judge-9' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>