<div class="full_tiles lot_tiles">
    <div class="container-fluid">
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_img.png'|theme }}" class="img-responsive">
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_1.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/medvedev' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_2.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/judge-2' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_3.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/judge-3' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_8.jpg'|theme }}" class="img-responsive">
                    <div class="description big left">
                        {% content 'judge/judge-7' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_4.jpg'|theme }}" class="img-responsive">
                    <div class="description big left">
                        {% content 'judge/judge-4' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_sc_6.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/school/gantvarg' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_sc_7.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/school/malahov' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_sc_8.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/school/smirnova' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_sc_9.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'judge/school/cherniak' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_sc_dev.png'|theme }}" class="img-responsive">
                    <div class="description big left">
                        {% content 'judge/school/lusi' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/judge_10.png'|theme }}" class="img-responsive">
                    <div class="description left big">
                        {% content 'judge/judge-9' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>