[viewBag]
==
{##}


<ul class="menu">
    <li class="menu_item">
        <a class="nav_close">
            <img src="{{ 'assets/images/close.png'|theme }}">
        </a>
    </li>
    {% for item in staticMenu.menuItems %}
        <li class="menu_item">
            <a href="{{ item.url }}" class="light_font">{{ item.title|upper }}</a>
        </li>
    {% endfor %}
    <li class="menu_item">
        {% if user %}
        <a href="{{ 'profile'|page }}" class="light_font">Личный кабинет</a>
        {% else %}
        <a href="#myModalBox" class="light_font" data-toggle="modal">Вход/Регистрация</a>
        {% endif %}
    </li>
    <li class="bottom_items">
        <div class="contact">
            <span class="phone light_phone">{% content 'contact/phone' %}</span>
             {% if current_group == school %}
<a href="mailto:{% content 'contact/email' %}" target="_blank" class="light_font email">{% content 'contact/email' %}</a>
{% elseif current_group == student %}
<a href="mailto:{% content 'contact/s-email' %}" target="_blank" class="light_font email">{% content 'contact/s-email' %}</a>
{% else %}
<a href="mailto:{% content 'contact/email' %}" target="_blank" class="light_font email">{% content 'contact/email' %}</a>
{% endif %}
        </div>
        <div class="social">
            {% partial 'app/social-list' %}
        </div>
        <div class="policy">
            <a href="#policyModal" data-toggle="modal">Политика конфиденциальности</a><br />
            <a href="#subscribeModal" data-toggle="modal">Согласие на обработку персональных данных </a>
        </div>
    </li>
</ul>