<div class="full_tiles">
    <div class="container-fluid">
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_image.jpg'|theme }}" class="img-responsive">
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_cds.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'partners/cds' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_avril_lavine.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'partners/avril' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_dc.jpg'|theme }}" class="img-responsive">
                    <div class="description left big">
                        {% content 'partners/idc' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_creep.jpg'|theme }}" class="img-responsive">
                    <div class="description left big">
                        {% content 'partners/creep' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_red.png'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'partners/rm' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_man.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'partners/zemskoff' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_fablab.jpg'|theme }}" class="img-responsive">
                    <div class="description big">
                        {% content 'partners/fablab' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_zoo.jpg'|theme }}" class="img-responsive">
                    <div class="description left big">
                        {% content 'partners/teil' %}
                    </div>
                </div>
            </div>
            <div class="col tile">
                <div class="image">
                    <img src="{{ 'assets/images/partners_angel.jpg'|theme }}" class="img-responsive">
                    <div class="description left big">
                        {% content 'partners/artangels' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>