{##}
<ul class="social_list">
    <li>
        <a href="{{ current_group == school ? 'https://vk.com/zu_school' : 'https://vk.com/zu.students' }}" 
        target="_blank">
            <i class="sprite_social sprite_social-icon_vk"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <i class="sprite_social sprite_social-icon_fb"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <i class="sprite_social sprite_social-icon_insta"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <i class="sprite_social sprite_social-icon_youtude"></i>
        </a>
    </li>
</ul>