<h4>Наталья Миронова</h4>
<p>Заслуженная артистка России, оперная певица, солистка Михайловского театра. Обладательница
    великолепного сопрано, солистка Михайловского театра. На её счету большое количество
    ведущих партий в знаменитых операх: среди них Адина в «Любовном напитке», Виолетта в «Травиате»,
    Микаэла в опере «Кармен», Шемаханская царица в «Золотом петушке», Лебедь-птица в опере «Сказка о
    Царе Салтане» и другие. Лауреат международного конкурса памяти Шостаковича «Classica Nova» в Ганновере. </p>