<h4>Татьяна Устинова </h4>
<p>писатель, сценарист, телеведущая, радиоведущая.
    В течение последних десяти лет входит в ТОП-5
    наиболее издаваемых российских авторов. Романы Татьяны
    Устиновой издаются в странах Европы и Азии, по ним снято более
    20 фильмов и создано множество радиоспектаклей. Лауреат телевизионной
    премии ТЭФИ за лучший сценарий.  Татьяна много работает на радио и телевидении.
    В настоящее время ведет программу «Мой герой» на канале «ТВЦ», на «Радио России» –
    авторскую программу «Живой детектив». </p>