<h4>Михаил Медведев</h4>
<p>Генеральный директор Группы Компаний «ЦДС». Это человек, которого хорошо знают в Санкт-Петербурге.
    И знают не только как руководителя одного из крупнейших строительных предприятий региона,
    но и как вдохновителя и создателя проекта «Звезда удачи»! Михаил Анатольевич окончил Санкт-Петербургский
    Политехнический университет (факультет энергомашиностроения). Второе высшее образование получил в Академии
    Государственной службы при Президенте по специальности юриспруденция. Имеет учёную степень и звание Кандидата
    юридических наук. В 1996-1997 годах Михаил Анатольевич работал инженером-экономистом в НПО «Метиз-Оптима ЛТД».
    В 1997-1999 - агентом в компаниях АН «Дом Плюс» и «Итака». С 1999-го Михаил Медведев стал
    учредителем и генеральным директором инвестиционно-строительной компании ЗАО «ЦДС», головной
    организации группы компаний «ЦДС». Сегодня ГК «ЦДС» является одной из крупнейших строительных компаний в С
    еверо-Западном Федеральном округе, на счету которой более 50 успешно завершенных проектов жилого строительства.</p>